@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 240px;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
}

.qr {
    width:100%;
    border-radius: 10px;
}

.heading {
    color: hsl(218, 44%, 22%);
    margin: 15px 10px;
    font-size: 18px;
    font-weight: 700;
}

.text {
    color: hsl(220, 15%, 55%);
    margin: 15px 10px;
    font-size: 12px;
    font-weight: 400;
}